
<main>
  <router-outlet></router-outlet>
</main>

<nav>
  <div
    class="nav-item"
    [routerLink]="['/health']"
    [class.active]="activeUrl === '/health'"
  >
    <fa-icon class="fas" [icon]="icons.health"></fa-icon>
    Health
  </div>
  <div
    class="nav-item"
    [routerLink]="['/alerts']"
    [class.active]="activeUrl === '/alerts'"
  >
    <fa-icon class="fas" [icon]="icons.alerts"></fa-icon>
    Alerts
    <div *ngIf="alertCount > 0" class="alert-count">{{ alertCount }}</div>
  </div>
  <div
    class="nav-item"
    [routerLink]="['/gps']"
    [class.active]="activeUrl === '/gps'"
  >
    <fa-icon class="fas" [icon]="icons.gps"></fa-icon>
    GPS
  </div>
  <div
    class="nav-item"
    [routerLink]="['/products']"
    [class.active]="activeUrl === '/products'"
  >
    <fa-icon class="fas" [icon]="icons.products"></fa-icon>
    Products
  </div>
  <div
    class="nav-item"
    [routerLink]="['/my-pet']"
    [class.active]="activeUrl === '/my-pet'"
  >
    <fa-icon class="fas" [icon]="icons.pet"></fa-icon>
    My Pet
  </div>
</nav>
