<section>
    <div class="products-container">
        <div class="product-food">
            <div>
                <span class="product-food-header">Food</span>
            </div>
            <div class="product-details-food">
                <div class="image">
                    <div class="image-container">
                        <a href="https://burnspet.co.uk/" target="_blank">
                            <img src="./assets/images/products/Burns.jpg">
                        </a>
                    </div>
                </div>
                <div class="food-details">
                    <div class="name">Burns (John Burns)</div>
                    <div class="type">Dry</div>
                </div>
            </div>
            <div class="product-details-food">
                <div class="image">
                    <div class="image-container">
                        <a href="https://www.edgardcooper.com/en/" target="_blank">
                            <img src="./assets/images/products/Edgard & Cooper Adult Tins.jpg">
                        </a>
                    </div>
                </div>
                <div class="food-details">
                    <div class="name">Edgard & Cooper Adult Tins</div>
                    <div class="type">Complete wet paté</div>
                </div>
            </div>
        </div>
        <div class="product-excercise">
            <div>
                <span class="product-excercise-header">Exercise</span>
            </div>
            <div class="product-details-excercise">
                <div class="image">
                    <div class="image-container">
                        <a href="https://www.thedodo.com/dodowell/dog-exercise-equipment" target="_blank">
                            <img src="./assets/images/products/Dog pacer.jpg">
                        </a>
                    </div>
                </div>
                <div class="excercise-details">
                    <div class="name">Dog treadmill</div>
                    <div class="type">Indoor</div>
                </div>
            </div>
            <div class="product-details-excercise">
                <div class="image">
                    <div class="image-container">
                        <a href="https://www.camddwrcanine.co.uk/" target="_blank">
                            <img src="./assets/images/products/Fitbone.jpg">
                        </a>
                    </div>
                </div>
                <div class="excercise-details">
                    <div class="name">Fitbone</div>
                    <div class="type">Indoor & Outdoor</div>
                </div>
            </div>
        </div>
    </div>
</section>
