h2
    color: #fdfdfd
    margin-bottom: 32px

label
    display: block
    color: #fdfdfd

input
    color: #fdfdfd
    font-family: 'Nunito', sans-serif

input[type="text"]:focus
    outline: none

input[type="text"]
    border: 0
    border-bottom: 1px solid #fdfdfd
    color: #fdfdfd
    background: transparent
    width: 100%
    margin-bottom: 32px

input[type="file"]
    display: none

.upload-photo
    background: #fdfdfd
    color: #0c3a84
    border-radius: 8px
    text-align: center
    padding: 8px 18px