<section>
    <button class="bpm-toggle" type="button" (click)="toggleBpmView()">{{ liveBpm ? 'Average' : 'Live' }}</button>
    <ng-container *ngIf="!liveBpm">
        <div class="heading">
            Average BPM 
        </div>
        <canvas baseChart width="300" height="200"
        [type]="'line'"
        [data]="avgBpmChartData"
        [options]="{ responsive: false }"
        [legend]="false">
        </canvas>
    </ng-container>
    <ng-container *ngIf="liveBpm">
        <div class="heading">
            Live BPM 
        </div>
        <canvas baseChart width="300" height="200"
        [type]="'line'"
        [data]="liveBpmChartData"
        [options]="{ responsive: false }"
        [legend]="false">
        </canvas>
    </ng-container>
</section>

<section>
    <div class="heading">
        Average Feeding Times
    </div>
    <div class="clock">
        <div class="center"></div>
        <div class="eating-marker-1"></div>
        <div class="eating-marker-2"></div>
    </div>
    <div class="label-1">8:32am - 9:28am</div>
    <div class="label-2">3:21pm - 4:20pm</div>
</section>

<button class="health-report" type="button" (click)="generateHealthReport()">Generate Health Report</button>