<section>
    <div class="heart-rate-container">
        <div class="heart-rate">
            <span class="heart-icon-container">&#10084;</span> 62<span class="bpm">BPM</span>
        </div>
        <div class="scale-container">
            <div class="indicator"></div>
            <div class="scale">
                <div class="scale-low"></div>
                <div class="scale-average"></div>
                <div class="scale-high"></div>
            </div>
            <div class="scale-labels">
                <div>Low</div>
                <div>Average</div>
                <div>High</div>
            </div>
        </div>
    </div>
</section>